/* All pages */
html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 90%;
    margin: auto;
}

h1{
    margin-top: 100px;
    font-size: 50px;
}

h2{
    font-size: 40px;
    font-variant: small-caps;
    letter-spacing: 5px;
    text-align: center;
}

h3 {
    font-size: 30px;
    /* background-color: #dbc9f1; */
    /* padding: 5px;
    border-radius: 10px; */
}

.backtotop:hover {
    filter: invert(54%) sepia(13%) saturate(3241%) hue-rotate(221deg) brightness(87%) contrast(96%);
}

.backtotop {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;
    position: fixed;
 	bottom: 100px;
 	right: 40px;
}
/*Navigation Bar*/

nav a {
    font-size: 20px;
    color: black;
    /* background-color: #dbc9f1;
    border-radius: 3px; */
    padding: 4px;
    margin: 2px;
    margin-left: 35px;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    top: 0;
    width: 90%;
    justify-content: flex-end;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
}

nav a:hover {
    /* background-color: #bce3d6; */
    color: #9a67db;
    /* box-shadow: -3px 2px 2px; */
}

.navname a {
    color: black;
    /* background-color: #dbc9f1; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #eee7f7;
    font-size: 25px;
    font-weight: lighter;
}

footer>* {
    width: 100%;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

.contacts a {
    margin: 10px;
}

/* Index Page*/

.selfimg {
    display: flex;
    justify-content: center;
}

.selfimg img{
    border-radius: 75px;
    margin-right: 25px;
    margin-left: 25px;
}

.whoami {
    display: flex;
    flex-direction: row;
}

#about p {
    line-height: 40px;
    font-size: 20px;
    /* margin-left: 50px; */
}

#resume-but {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}

#resume-but a {
    font-size: 25px;
    /* width: 200px; */
    text-decoration: none;
    background-color: #dbc9f1;
    padding: 30px;
    border-radius: 60px;
    margin: 5px;
    color: black;
}

#resume-but a:hover {
    background-color: #c7a7f0;
}

#resume-but a:visited {
    color: black;
}

/* Projects Page*/

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    line-height: 25px;
    font-size: 20px;
    height: 400px;
}

.project h4 {
    font-size: 30px;
}

.project img {
    margin-right: 25px;
}

.proj-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
}

/* Links Page */
.links {
    display: flex;
    flex-direction: row;
}
.links h2 {
    font-variant: normal;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px;
    color: #8049bf;
}

.links a {
    text-decoration: none;
    color: #8049bf;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.links img {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 120px;
}

.resume {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


/** Affiliations Page **/
.desc {
    display: flex;
    flex-direction: row;
}

.desc li {
    line-height: 25px;
    font-size: 18px;
}

.club {
    display: flex;
    flex-direction: column;
}

.club h2 {
    font-size: 30px;
    font-variant: normal;
    font-family: serif;
    font-weight: normal;
    letter-spacing: normal;
    margin-bottom: 5px;
    background-color: #dbc9f1;
    padding: 5px;
    border-radius: 10px;
}

.club a {
    color: #8049bf;
    text-decoration: none;
    margin-top: 2px;
}

.club a:hover{
    text-decoration: underline;
}
