/* All pages */
html {
    font-family: sans-serif;
}

h1{
    margin-top: 50px;
    font-size: 50px;
}

h2 {
    font-size: 40px;
    font-variant: small-caps;
    letter-spacing: 5px;
}

/*Navigation Bar*/
nav a {
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 3px;
    padding: 4px;
    margin: 2px;
    text-decoration: none;
}

nav {
    background-color: #dbc9f1;
    display: flex;
    flex-direction: row;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
.rightnav a:hover {
    color: #bd8ff2;
    box-shadow: -3px 2px 2px;
}

.rightnav {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.navname {
    background-color: #dbc9f1;
}

.active a {
    color: #bd8ff2;
}

/* Index Page*/

.selfimg img{
    border-radius: 75px;
}

.whoami {
    display: flex;
    flex-direction: row;
}

.about p {
    line-height: 25px;
    font-size: 20px;
}

.about h2 {
    text-align: center;
    font-size: 30px;
    background-color: #dbc9f1;
    padding: 5px;
    border-radius: 10px;
}

/* Projects Page*/
.row1 {
    display: flex;
    flex-direction: row;
}

.aproj {
    width: 50%;
    margin: 10px;
}

.project h3 {
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-top: 0px;
}

.project {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: #dbc9f1;
    box-shadow: -3px -0px 3px -1px;
    height: 150px;
}

.project img {
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.project p {
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0px;
    margin-top: 10px;
}

.captions {
    background-color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -3px 3px 3px -1px;
    height: 150px;
}

.captions ul {
    text-align: left;
}

.captions a {
    font-size: 25px;
    color: #bd8ff2;
    text-decoration: none;
}

.captions a:hover{
    text-decoration: underline;
}

/* Links Page */
.links {
    display: flex;
    flex-direction: row;
}
.links h2 {
    font-variant: normal;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px;
    color: #bd8ff2;
}

.links a {
    text-decoration: none;
    color: #bd8ff2;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.links img {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 120px;
}

.single {
    margin-left: auto;
    margin-right: auto;
}

.single a:hover{
    text-decoration: underline;
}

.single p {
    font-size: 10px;
}

.resumeimg {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 1000px;
}

.resume {
    display: flex;
    flex-direction: row;
}

/** Affiliations Page **/
.desc {
    display: flex;
    flex-direction: row;
}

.desc li {
    line-height: 25px;
    font-size: 18px;
}

.club {
    display: flex;
    flex-direction: column;
}

.club h2 {
    font-size: 30px;
    font-variant: normal;
    font-family: serif;
    font-weight: normal;
    letter-spacing: normal;
    margin-bottom: 5px;
    background-color: #dbc9f1;
    padding: 5px;
    border-radius: 10px;
}

.club a {
    color: #bd8ff2;
    text-decoration: none;
    margin-top: 2px;
}

.club a:hover{
    text-decoration: underline;
}
